---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import HeaderImage from "../components/blog/HeaderImage.astro"
import Newsletter from "../components/Newsletter.astro";
import Offer from "../components/Offer.astro";


interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
      alt: string;
    };
    title: string;
    updatedDate: string;
    description: string;
    pubDate: string;
    categories: string;
    author: string;
    tldrOne: string;
    tldrTwo: string;
    tldrThree: string;
    headerImage: {
      src: string;
      alt: string;
    };
  };
}

const { frontmatter} = Astro.props;
---
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body class="bg-primary-300">
    <Header />
    <main class="margin-y-xxl">
      <article>
        <div class="grid grid-cols-12">
          <div class="col-span-10 col-start-2 col-end-12 lg:col-span-6 lg:col-start-4 lg:col-end-10">
            <Newsletter />
          <div>
                <HeaderImage
                imagePath={frontmatter.headerImage.src}
                alt={frontmatter.headerImage.alt}
                
              />
           <div id="meta">
           <h1 class="text-secondary-950 text-balance">{frontmatter.title}</h1>
           <div class="flex flex-row gap-3">
            <div id="time">Updated: {frontmatter.updatedDate}</div>
            <div id="category">Category: <a href={`/category/${frontmatter.categories}`}>{frontmatter.categories.replace(/-/g, " ")}</a></div>

           </div>
           </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-10 col-start-2 col-end-12 lg:col-span-4 lg:col-start-4 lg:col-end-8 rounded-xl bg-white-50 margin-top-small">
        <slot />
        </div>
        <div class="lg:col-span-2 lg:col-start-8 col-span-10 col-start-2 col-end-12 flex flex-col gap-3 margin-top-small" >
           <div id="author-bio" class="bg-white-50 rounded-xl">
           <p> text</p>
           </div>
           <div id="advertisment-policy" class="bg-white-50 rounded-xl">
          <p>text</p>
           </div>
           <div id="guest-policy" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
           <div id="support" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
           <div id="newsletter-signup-sidebar" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
        </div>
         </div>
          </div>
          <div class="grid grid-cols-12">
            <div class="col-span-10 col-start-2 col-end-12 lg:col-span-6 lg:col-start-4 lg:col-end-10">
<Offer />
              </div>
              </div>

      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  #category{
    text-transform: capitalize;
  }
</style>