---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import HeaderImage from "../components/blog/HeaderImage.astro"
import { Image } from "astro:assets";
/* import Newsletter from "../components/Newsletter.astro"; */
import Offer from "../components/Offer.astro";


interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    title: string;
    updatedDate: string;
    description: string;
    pubDate: string;
    categories: string;
    author: string;
    tldrOne: string;
    tldrTwo: string;
    tldrThree: string;
    authorImg: string;
authorWeb: string;
authorX: string;
authorLi: string;
authorBio: string;
authorUrl: string;
    headerImage: {
      src: string;
      alt: string;
    };
  };
}

const { frontmatter} = Astro.props;
---
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body class="bg-primary-300">
    <Header />
    <main class="margin-y-xxl">
      <article>
        <div class="grid grid-cols-12">
          <div class="col-span-10 col-start-2 col-end-12 lg:col-span-6 lg:col-start-4 lg:col-end-10">
          <!--   <Newsletter /> -->
          <div>
                <HeaderImage
                imagePath={frontmatter.headerImage.src}
                alt={frontmatter.headerImage.alt}
                
              />
           <div id="meta">
           <h1 class="text-secondary-950 text-balance">{frontmatter.title}</h1>
           <div class="flex flex-row gap-3 poppins med">
            <div id="time">Updated: {frontmatter.updatedDate}</div>
            <div id="category">Category: <a href={`/category/${frontmatter.categories}`}>{frontmatter.categories.replace(/-/g, " ")}</a></div>

           </div>
           </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-10 col-start-2 col-end-12 lg:col-span-4 lg:col-start-4 lg:col-end-8 rounded-xl bg-white-50 margin-top-large px-8">
        <slot />
        </div>
        <div class="lg:col-span-2 lg:col-start-8 col-span-10 col-start-2 col-end-12 flex flex-col gap-3 margin-top-large" >
           <div id="author-bio" class="bg-white-50 rounded-xl p-3">
           <h3>About the Author</h3>
           <hr>
           <div id="author" class="flex flex-row xs">
           <div id="author-img"> <Image
            src={frontmatter.authorImg}
            width={200}
            height={200}
            alt="author avatar"
          /></div>
          <div id="name">
            <p style="text-transform: Capitalize;">By <a href={frontmatter.authorUrl}>{frontmatter.author.replace(/-/g, " ")}</a></p>
            <p>{frontmatter.authorBio}</p>
            <div id="author-links">
              <ul>
                <li><a href={frontmatter.authorWeb}>Website</a></li>
                <li><a href={frontmatter.authorLi}>LinkedIn</a></li>
                <li><a href={frontmatter.authorX}>X (Twitter)</a></li>
              </ul>
          </div>
          </div>
          </div>
          </div>
          
           <div id="advertisment-policy" class="bg-white-50 rounded-xl">
          <p>text</p>
           </div>
           <div id="guest-policy" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
           <div id="support" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
           <div id="newsletter-signup-sidebar" class="bg-white-50 rounded-xl">
           <p>text</p>
           </div>
        </div>
         </div>
          </div>
          <div class="grid grid-cols-12">
            <div class="col-span-10 col-start-2 col-end-12 lg:col-span-6 lg:col-start-4 lg:col-end-10">
<Offer />
              </div>
              </div>

      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  #category{
    text-transform: capitalize;
  }
</style>